extends ./layout/layout

block content_head
  h1 The Reveal is Here!!! 
block content_body
  .greeting.column
    p That's right, the moment we have all been waiting for! It's finally here!
    p Please help us in celebrating the gender of our baby! 
    p We are incerdibly excited to share this moment with everyone!
  .column
    a(href="https://photos.app.goo.gl/h667D7coJBF5ryic2" target="_blank") The video is here!!!
