extends ./layout/layout

block content_head
  h1 Congratulations on finding this page
block content_body
  p Come back Saturday or Sunday to see the reveal video.
  p Or watch for it on Facebook!
  p Until then you may want to keep an eye on the results. Click the link above to go back.
  video(src="/images/movie.mp4" width="500" height="350" controls)